@font-face {
    font-family: 'Roberte';
    src: url(webfonts/Roberte-Regular.woff2) format('woff2');
    font-weight: 400;
}

/* @font-face {
    font-family: 'Roberte';
    src: url(webfonts/Roberte-Bold.woff2) format('woff2');
    font-weight: 700;
} */

.title{
    font-family: 'Roberte', sans-serif;

}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    /* grid-template-columns: repeat(8,1fr); */
    grid-gap: 10px;
}

.header{
    grid-column: span 3;
}

.l{
    grid-column: span 3;
}

.s{
    grid-column: span 2;
}